<template name="postSubmit">
  <div class="post" {{attributes}}>
    <button type="button" class="post__create btn btn-default">Create</button>
    <div class="postContent">
        <h2>Title</h2>
        <textarea class="title-editor" name="title" placeholder="Name your post"></textarea>
        <!-- <div class="postContent__content" contenteditable="true">{{{content}}}</div> -->
        <h2>Post</h2>
        <textarea class="content-editor" name="content" placeholder="Type your content"></textarea>
    </div>
  </div>
</template>


