<div class="container">
  <div class="row" id="row-mailchimp">
    <div id="mailchimp">
      <div id="cta">Sign up for our newsletter</div>
      {% include mailchimp.html %}
    </div>
  </div>
  <div class="row">
    <div id="basic">
      <span id="copyright"><a href="index.html">&copy; Liztic LLC</a></span>
      <span class="separator">|</span>
      <span id="contact"><a href="aboutliztic.html">Contact</a></span>
      <!-- <span class="separator">|</span>
      <span id="contact"><a href="mailto:contact@liztic.com">info@liztic.com</a></span> -->
      
      <span class="separator-long"></span>

      <span id="privacy"><a href="termsofserviceweb.html">Terms of Service</a></span>
      <span class="separator">|</span>
      <span id="terms"><a href="privacypolicyweb.html">Privacy Policy</a></span>
    </div>
    <div id="social">
      <!-- <span>Made with Love in Atlanta, Georgia</span> -->
      <a href="http://www.facebook.com/lizticmusicplayer" class="facebook"></a>
      <a href="http://www.twitter.com/LizticMusic" class="twitter"></a>
      <a href="http://www.youtube.com/LizticMusic" class="youtube"></a>
      <a href="http://www.pinterest.com/lizticmusicplayer" class="pinterest"></a>
      <a href="http://www.instagram.com/liztic" class="instagram"></a>
      <a href="https://plus.google.com/109321792061988163686" class="googleplus"></a>
    </div>
  </div>

</div>
