
<article>
   <section>
      <div class="container">
         <div class="row" >
            Nanowrito, an experimental tool to help you reach your <a href="http://nanowrimo.org">NanoWrimo</a> word count.
         </div>
         <div class="row" >
            You may start typing.
         </div>
         <div class="row" >
            Hit Ctrl + Space to enter Zen mode. Hit ESC to exit. Don't forget to copy your work to your word processor when you're done.
         </div>
      </div>
   </section>
</article>