
<article>
   <section>
      <div class="container">
         <div class="row" >
            <h1>NanoWrito</h1>            
            <h2>A delicious experiment to help you reach your <a href="http://nanowrimo.org">NanoWrimo</a> goal.</h2>
         </div>
         <div class="row desc" >
            <h2>Type your novel. Hit <span class="keyb">Enter</span> to commit your sentence, and <a href="#" ng-click="startZen()">ESC to toggle Zen mode</a>. 
            <br />Don't forget to save your work when done.</h2>
         </div>
      </div>
   </section>
</article>