@import url(http://fonts.googleapis.com/css?family=Oleo+Script);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600,700);
/* line 2, ../_nano-sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*  HTML5 ✰ Boilerplate  */
/* line 16, ../_nano-sass/____reset.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 26, ../_nano-sass/____reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../_nano-sass/____reset.scss */
blockquote, q {
  quotes: none;
}

/* line 32, ../_nano-sass/____reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 33, ../_nano-sass/____reset.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 34, ../_nano-sass/____reset.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 35, ../_nano-sass/____reset.scss */
del {
  text-decoration: line-through;
}

/* line 36, ../_nano-sass/____reset.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 37, ../_nano-sass/____reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 38, ../_nano-sass/____reset.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 39, ../_nano-sass/____reset.scss */
input, select {
  vertical-align: middle;
}

/* line 42, ../_nano-sass/____reset.scss */
body {
  font: 16px sans-serif;
  *font-size: small;
}

/* line 43, ../_nano-sass/____reset.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 44, ../_nano-sass/____reset.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 46, ../_nano-sass/____reset.scss */
html {
  overflow-y: scroll;
}

/* line 47, ../_nano-sass/____reset.scss */
a:hover, a:active {
  outline: none;
}

/* line 50, ../_nano-sass/____reset.scss */
ul, ol {
  margin-left: 0em;
}

/* line 51, ../_nano-sass/____reset.scss */
ul {
  list-style-type: circle;
  list-style-position: inside;
}

/* line 52, ../_nano-sass/____reset.scss */
ol {
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 54, ../_nano-sass/____reset.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 55, ../_nano-sass/____reset.scss */
small {
  font-size: 85%;
}

/* line 56, ../_nano-sass/____reset.scss */
strong, th {
  font-weight: bold;
}

/* line 57, ../_nano-sass/____reset.scss */
td {
  vertical-align: top;
}

/* line 59, ../_nano-sass/____reset.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 60, ../_nano-sass/____reset.scss */
sup {
  top: -0.5em;
}

/* line 61, ../_nano-sass/____reset.scss */
sub {
  bottom: -0.25em;
}

/* line 63, ../_nano-sass/____reset.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 64, ../_nano-sass/____reset.scss */
textarea {
  overflow: auto;
}

/* line 65, ../_nano-sass/____reset.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 66, ../_nano-sass/____reset.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 67, ../_nano-sass/____reset.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 68, ../_nano-sass/____reset.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 69, ../_nano-sass/____reset.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 70, ../_nano-sass/____reset.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 71, ../_nano-sass/____reset.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 73, ../_nano-sass/____reset.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 74, ../_nano-sass/____reset.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 77, ../_nano-sass/____reset.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 78, ../_nano-sass/____reset.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 80, ../_nano-sass/____reset.scss */
body, select, input, textarea {
  color: #444;
}

/* line 85, ../_nano-sass/____reset.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 86, ../_nano-sass/____reset.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 87, ../_nano-sass/____reset.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 89, ../_nano-sass/____reset.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 90, ../_nano-sass/____reset.scss */
.invisible {
  visibility: hidden;
}

/* line 91, ../_nano-sass/____reset.scss */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 92, ../_nano-sass/____reset.scss */
.clearfix:after {
  clear: both;
}

/* line 93, ../_nano-sass/____reset.scss */
.clearfix {
  zoom: 1;
}

/* line 60, ../_nano-sass/____framework.scss */
.show-small {
  display: none !important;
}
@media screen and (min-width: 0px) {
  /* line 60, ../_nano-sass/____framework.scss */
  .show-small {
    display: block !important;
  }
}

/* line 61, ../_nano-sass/____framework.scss */
.show-small-only {
  display: none !important;
}
@media screen and (max-width: 480px) {
  /* line 61, ../_nano-sass/____framework.scss */
  .show-small-only {
    display: block !important;
  }
}

/* line 66, ../_nano-sass/____framework.scss */
.show-medium {
  display: none !important;
}
@media screen and (min-width: 481px) {
  /* line 66, ../_nano-sass/____framework.scss */
  .show-medium {
    display: block !important;
  }
}

/* line 67, ../_nano-sass/____framework.scss */
.show-medium-only {
  display: none !important;
}
@media screen and (min-width: 481px) and (max-width: 767px) {
  /* line 67, ../_nano-sass/____framework.scss */
  .show-medium-only {
    display: block !important;
  }
}

/* line 68, ../_nano-sass/____framework.scss */
.show-medium-max {
  display: none !important;
}
@media screen and (max-width: 767px) {
  /* line 68, ../_nano-sass/____framework.scss */
  .show-medium-max {
    display: block !important;
  }
}

/* line 73, ../_nano-sass/____framework.scss */
.show-larger {
  display: none !important;
}
@media screen and (min-width: 768px) {
  /* line 73, ../_nano-sass/____framework.scss */
  .show-larger {
    display: block !important;
  }
}

/* line 74, ../_nano-sass/____framework.scss */
.show-larger-only {
  display: none !important;
}
@media screen and (min-width: 768) and (max-width: 979) {
  /* line 74, ../_nano-sass/____framework.scss */
  .show-larger-only {
    display: block !important;
  }
}

/* line 75, ../_nano-sass/____framework.scss */
.show-larger-max {
  display: none !important;
}
@media screen and (max-width: 979px) {
  /* line 75, ../_nano-sass/____framework.scss */
  .show-larger-max {
    display: block !important;
  }
}

/* line 78, ../_nano-sass/____framework.scss */
.show-largest {
  display: none !important;
}
@media screen and (min-width: 980px) {
  /* line 78, ../_nano-sass/____framework.scss */
  .show-largest {
    display: block !important;
  }
}

/* line 104, ../_nano-sass/____framework.scss */
.container {
  *zoom: 1;
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 18, ../_nano-sass/bourbon/addons/_clearfix.scss */
.container:before, .container:after {
  content: " ";
  display: table;
}
/* line 23, ../_nano-sass/bourbon/addons/_clearfix.scss */
.container:after {
  clear: both;
}

@media screen and (min-width: 0px) {
  /* line 105, ../_nano-sass/____framework.scss */
  .row {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .row:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 481px) {
  /* line 105, ../_nano-sass/____framework.scss */
  .row {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .row:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 105, ../_nano-sass/____framework.scss */
  .row {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .row:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 980px) {
  /* line 105, ../_nano-sass/____framework.scss */
  .row {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .row:last-child {
    margin-right: 0;
  }
}

/* line 119, ../_nano-sass/_design.scss */
.white {
  color: black;
  background-color: rgba(255, 255, 255, 0.95);
}

/* line 120, ../_nano-sass/_design.scss */
.orange {
  background-color: rgba(255, 195, 40, 0.7);
}

/* line 121, ../_nano-sass/_design.scss */
.green {
  color: white;
  background-color: rgba(109, 152, 71, 0.84);
}

/* line 122, ../_nano-sass/_design.scss */
.dark {
  color: #cccccc;
  background-color: rgba(70, 70, 70, 0.8);
}

/* line 123, ../_nano-sass/_design.scss */
.lighter {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.88);
}

/* line 124, ../_nano-sass/_design.scss */
.light {
  color: #333333;
  background-color: rgba(250, 250, 250, 0.86);
}

/* line 125, ../_nano-sass/_design.scss */
.soft {
  color: #333333;
  background-color: rgba(255, 255, 255, 0.56);
}

/* line 126, ../_nano-sass/_design.scss */
.cloud {
  background-color: rgba(100, 100, 100, 0.06);
}

/* line 127, ../_nano-sass/_design.scss */
.glass {
  background-color: rgba(80, 80, 80, 0.46);
}

/* line 128, ../_nano-sass/_design.scss */
.glassdark {
  background-color: rgba(20, 20, 20, 0.59);
}

/* line 129, ../_nano-sass/_design.scss */
.txtsilver {
  color: #f2f2f2;
}

/* line 138, ../_nano-sass/_design.scss */
body h1 {
  font-family: 'Oleo Script', sans-serif;
}

/* line 141, ../_nano-sass/_design.scss */
.wordcount h6 {
  font-family: 'Open Sans', sans-serif;
}

/* line 144, ../_nano-sass/_design.scss */
body h2, body p, button {
  font-family: Georgia, serif;
}

/* line 170, ../_nano-sass/_design.scss */
.wordcount h6 {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

/* line 179, ../_nano-sass/_design.scss */
button, #input-area {
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0 1px 3px inset;
}

/* line 10, ../_nano-sass/_function.scss */
.floater {
  position: fixed;
  z-index: 99999;
}
@media screen and (min-width: 0px) {
  /* line 10, ../_nano-sass/_function.scss */
  .floater {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .floater:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 481px) {
  /* line 10, ../_nano-sass/_function.scss */
  .floater {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .floater:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 10, ../_nano-sass/_function.scss */
  .floater {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .floater:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 980px) {
  /* line 10, ../_nano-sass/_function.scss */
  .floater {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  .floater:last-child {
    margin-right: 0;
  }
}

@media screen and (max-width: 480px) {
  /* line 23, ../_nano-sass/_function.scss */
  .reveal-btn, .reveal-btn-container {
    cursor: hand;
    cursor: pointer;
  }
  /* line 26, ../_nano-sass/_function.scss */
  .reveal-btn:hover, .reveal-btn-container:hover {
    background: rgba(180, 180, 180, 0.4) !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
  }
}

/* line 30, ../_nano-sass/_function.scss */
.reveal-btn:before, .reveal-btn-container:before {
  font-size: 1.9rem;
  font-weight: 100;
  content: '>';
  position: absolute;
  right: 25px;
  line-height: 26px;
  display: block;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
}
@media screen and (min-width: 481px) {
  /* line 30, ../_nano-sass/_function.scss */
  .reveal-btn:before, .reveal-btn-container:before {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  /* line 43, ../_nano-sass/_function.scss */
  .reveal-content {
    display: none;
  }
}

/*********************************************************
   CONTENT LAYOUT MAP

   <body
      <section #section-name          // main sections of body
         <article #article-name       // different parts of the section
            <div .container           // neat.bourbon container wrapper for columns
               <section 

      #header
      #main
      #footer

*********************************************************/
/* line 53, ../_nano-sass/main.scss */
body {
  background-image: url("cover.png");
  background-attachment: fixed;
  background-position: center;
  background-image: url(cover.png);
  /* fallback */
  background-image: url(cover.png), -webkit-gradient(#00434c 30%, rgba(0, 67, 76, 0.9) 100%);
  /* Saf4+, Chrome */
  background-image: url(cover.png), -webkit-linear-gradient(#00434c 30%, rgba(0, 67, 76, 0.9) 100%);
  /* Chrome 10+, Saf5.1+ */
  background-image: url(cover.png), -moz-linear-gradient(0deg, #00434c 30%, rgba(0, 67, 76, 0.9) 100%);
  /* FF3.6+ */
  background-image: url(cover.png), -ms-linear-gradient(0deg, #00434c 30%, rgba(0, 67, 76, 0.9) 100%);
  /* IE10 */
  background-image: url(cover.png), -o-linear-gradient(0deg, #00434c 30%, rgba(0, 67, 76, 0.9) 100%);
  /* Opera 11.10+ */
  background-image: url(cover.png), linear, 0deg, #00434c 30%, rgba(0, 67, 76, 0.9) 100%;
}

/* line 88, ../_nano-sass/main.scss */
html {
  height: 100%;
}

/* line 91, ../_nano-sass/main.scss */
body {
  min-height: 100%;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 98, ../_nano-sass/main.scss */
body h1 {
  color: black;
  text-align: center;
  background-color: #f35955;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.3) -1px -1px 1px, rgba(240, 96, 96, 0.5) 0px 3px 3px, rgba(255, 255, 255, 0.7) 0.2px 0.2px 0px;
}
/* line 103, ../_nano-sass/main.scss */
body h2 {
  text-align: center;
  color: rgba(242, 235, 191, 0.3);
}
/* line 108, ../_nano-sass/main.scss */
body h1 {
  font-size: 5rem;
}
/* line 109, ../_nano-sass/main.scss */
body h2 {
  font-size: 1rem;
}
/* line 110, ../_nano-sass/main.scss */
body h3 {
  font-size: 1rem;
  padding: 0.75rem 0;
}
/* line 111, ../_nano-sass/main.scss */
body h5 {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.75rem 0;
}
/* line 112, ../_nano-sass/main.scss */
body p {
  font-weight: normal;
  padding: 0.5rem 0;
}
/* line 114, ../_nano-sass/main.scss */
body a, body a:active, body a:visited {
  color: #f3835d;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
/* line 115, ../_nano-sass/main.scss */
body a:hover {
  color: #f2ebbf;
  text-decoration: underline;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

/* line 119, ../_nano-sass/main.scss */
.row {
  padding: 1rem;
}

/* line 125, ../_nano-sass/main.scss */
button {
  padding: 0.33333rem 0.5rem;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  font-size: 0.9rem;
  background: rgba(92, 75, 81, 0.7);
  border: #f3835d 1px dashed;
  outline: 0;
  border-radius: 3px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: rgba(242, 235, 191, 0.6);
}
/* line 136, ../_nano-sass/main.scss */
button:hover {
  border: 1px solid #f35955;
  background: rgba(92, 75, 81, 0.3);
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  color: #f2ebbf;
}

/* line 144, ../_nano-sass/main.scss */
button.zeroclipboard-is-hover {
  border: 1px solid #f35955;
  background: rgba(92, 75, 81, 0.3);
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  color: #f2ebbf;
}

/* line 149, ../_nano-sass/main.scss */
button.zeroclipboard-is-active {
  background-color: #777;
}

/* line 152, ../_nano-sass/main.scss */
.ng-cloak {
  opacity: 0;
}

/* line 158, ../_nano-sass/main.scss */
.zen h1, .zen h2, .zen .copy, .zen a {
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

/* line 163, ../_nano-sass/main.scss */
.zen .entry-list {
  color: transparent;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
}

/* line 168, ../_nano-sass/main.scss */
.zen .blanket {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}

/* line 181, ../_nano-sass/main.scss */
.desc {
  padding: 0 0 2rem 0;
}

/* line 189, ../_nano-sass/main.scss */
.main-app {
  position: relative;
}

/* line 193, ../_nano-sass/main.scss */
.copy {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

/* line 198, ../_nano-sass/main.scss */
.hide {
  display: none;
}

/* line 202, ../_nano-sass/main.scss */
.entry-list {
  cursor: text;
  color: #f2f2f2;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  font-size: 0.9rem;
  line-height: 1.4rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

/* line 213, ../_nano-sass/main.scss */
.ctr {
  text-align: center;
  position: relative;
  z-index: 11000;
}

/* line 219, ../_nano-sass/main.scss */
.zen .ctr {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  bottom: 220px;
}

/* line 226, ../_nano-sass/main.scss */
.wordcount h6 {
  display: inline;
  padding: 0.5rem 2rem;
  color: #f2f2f2;
  text-align: center;
  font-size: 4rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

/* line 236, ../_nano-sass/main.scss */
.input-row {
  padding-left: 0;
  padding-right: 0;
}

/* line 239, ../_nano-sass/main.scss */
#input-area {
  position: relative;
  z-index: 11000;
  padding: 1rem 1rem;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
  font-size: 0.9rem;
  background-color: rgba(0, 0, 0, 0.3);
  border: #00434c 1px solid;
  outline: 0;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  color: white;
}
@media screen and (min-width: 0px) {
  /* line 239, ../_nano-sass/main.scss */
  #input-area {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  #input-area:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 481px) {
  /* line 239, ../_nano-sass/main.scss */
  #input-area {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  #input-area:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) {
  /* line 239, ../_nano-sass/main.scss */
  #input-area {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  #input-area:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 980px) {
  /* line 239, ../_nano-sass/main.scss */
  #input-area {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
  }
  /* line 54, ../_nano-sass/neat/grid/_span-columns.scss */
  #input-area:last-child {
    margin-right: 0;
  }
}
/* line 253, ../_nano-sass/main.scss */
#input-area:focus {
  padding: 1.8rem 1rem;
  border: 1px solid #8cbeb2;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.25s ease-out 0;
  -moz-transition: all 0.25s ease-out 0;
  -ms-transition: all 0.25s ease-out 0;
  -o-transition: all 0.25s ease-out 0;
  transition: all 0.25s ease-out 0;
}

/* line 263, ../_nano-sass/main.scss */
.zen #input-area {
  position: fixed;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  bottom: 100px;
  color: #3e3e3e;
  -webkit-transition: all 0.25s ease-out 0;
  -moz-transition: all 0.25s ease-out 0;
  -ms-transition: all 0.25s ease-out 0;
  -o-transition: all 0.25s ease-out 0;
  transition: all 0.25s ease-out 0;
}
/* line 217, ../_nano-sass/_design.scss */
.zen #input-area.placeholder {
  color: #3e3e3e;
}
/* line 218, ../_nano-sass/_design.scss */
.zen #input-area:-moz-placeholder {
  color: #3e3e3e;
}
/* line 219, ../_nano-sass/_design.scss */
.zen #input-area::-moz-placeholder {
  color: #3e3e3e;
}
/* line 220, ../_nano-sass/_design.scss */
.zen #input-area:-ms-input-placeholder {
  color: #3e3e3e;
}
/* line 221, ../_nano-sass/_design.scss */
.zen #input-area::-webkit-input-placeholder {
  color: #3e3e3e;
}

/* line 277, ../_nano-sass/main.scss */
.zen #input-area:focus {
  border: 1px solid black;
}
