
// clean up font stacks
// redirect page from dropbox

// Questions / Info
// - how do you set up assessment, schedule personal training?
// - how do classes work? Can you walk in and pay per class? How do you know it's full or if spots are left?
// - what are the opening hours of the gym?
// - is there a cost of membership to use the equipment or is it only classes?
// - get a pull-quote for Noel
// - do we really want personal contact information for trainers out in the open?

// core frameworks 
@import 'bourbon/bourbon';
@import 'neat/neat';

// framework files
@import '___reset';         //basic reset
@import '___framework';     //basic framework: breakpoints etc.

@import 'design';           //elements of design
@import 'function';        //elements of functionality


// Compass frameworks
@import "compass";
@import "compass/utilities";
@import "compass/css3";
@import "compass/css3/images";


/*********************************************************
   CONTENT LAYOUT MAP

   <body
      <section #section-name          // main sections of body
         <article #article-name       // different parts of the section
            <div .container           // neat.bourbon container wrapper for columns
               <section 

      #header
      #main
      #footer

*********************************************************/



// *********************************************************
// UNIVERSAL
// *********************************************************

%jeans {
   background-image: url('cover.png');
   background-attachment:fixed;
   background-position:center; 
   // background-color: rgba($color2-1, 1);

   $nc: mix($color3-1, $color1-5, 0.6);
   $nc2: rgba($nc, 0.9);
   $colora: $nc;
   $colorb: $nc2;

   background-image: url(cover.png); /* fallback */
   background-image: url(cover.png), -webkit-gradient($colora 30%, $colorb 100%); /* Saf4+, Chrome */
   background-image: url(cover.png), -webkit-linear-gradient($colora 30%, $colorb 100%); /* Chrome 10+, Saf5.1+ */
   background-image: url(cover.png),    -moz-linear-gradient(0deg, $colora 30%, $colorb 100%); /* FF3.6+ */
   background-image: url(cover.png),     -ms-linear-gradient(0deg, $colora 30%, $colorb 100%); /* IE10 */
   background-image: url(cover.png),      -o-linear-gradient(0deg, $colora 30%, $colorb 100%); /* Opera 11.10+ */
   background-image: url(cover.png),         linear-gradient(0deg, $colora 30%, $colorb 100%);
}


// FONT SIZES
$size-menu: $base*0.9;
$size-footer: $base * 0.9;
$size-form: $base*0.9; $height-form: $base*2;
$size-copy: $base*0.9;

$size-h1: $base*5;
$size-h2: $base*1;
$size-h3: $base*1;
$size-h4: $base*1.3;
$size-h5: $base*1;
$size-h6: $base*4;
$size-p: $base*0.9; $height-p: $base*1.3;

html {
   height: 100%;
}
body {

   @extend %jeans;
   min-height: 100%;

   @include ease(0.15s);

   h1 { @extend %display; color: black;
      text-align: center; background-color: rgba($color1-3,1);
      -webkit-background-clip: text; -moz-background-clip: text;
      background-clip: text; color: transparent; text-shadow: rgba(white, 0.3) -1px -1px 1px, rgba($color2-5,0.5) 0px 3px 3px, rgba(white, 0.7) 0.2px 0.2px 0px;
   }
   h2 { 
      text-align: center;
      @extend %serif;
      color: rgba($color2-3,0.3);
   }
   h1 {font-size: $size-h1;}
   h2 {font-size: $size-h2;}
   h3 {font-size: $size-h3; padding: $base*0.75 0;}
   .title:after{
      content: 'beta!'; font-size: $base*2;
      display: inline-block; position: relative; top: -40px; left: 0px;
      color: $color2-3;
      text-shadow: 3px 3px 3px rgba($color3-1, 0.9);
      @include transform( rotate(-15deg));
   }

   p {@extend %serif; font-weight: normal; padding: $base/2 0;}

   a, a:active, a:visited {color: $color1-2; text-decoration: none; @include ease(0.15s);}
   a:hover {color: $color2-3; text-decoration: underline; @include ease(0.15s);}

}

.row { padding: $base}




// zeroclipboard flash button
button {
   padding: $base/3 $base/2; 
   @extend %serif;
   @include ease-out(0.15s);
   font-size: $size-copy; @extend %box-shade-light;

   background: rgba($color2-1, 0.7); 
   border: $color1-2 1px dashed; outline: 0; border-radius: 3px;
   @include border-radius(4px, 4px);
   color: rgba($color2-3,0.6);
   
   &:hover {
      border: 1px solid $color1-3;
      background: rgba($color2-1, 0.3); 
      @include ease-out(0.15s); color: rgba($color2-3,1);
   }
   
}

button.zeroclipboard-is-hover { 
      border: 1px solid $color1-3;
      background: rgba($color2-1, 0.3); 
      @include ease-out(0.15s); color: rgba($color2-3,1);
   }
button.zeroclipboard-is-active { background-color:#777; }

//hide flash of ng template content
.ng-cloak {
    opacity: 0;
}


// blur certain things on zen
.zen h1, .zen h2, .zen .copy, .zen a{
   color: transparent;
   text-shadow: 0 0 5px rgba(white,0.4);
}

.zen .blanket {
   display: block; width: 100%; height: 100%;
   z-index: 10000;
   background-color: rgba(black, 0.8);
   position: fixed; top: 0; left: 0;
}


// *********************************************************
// HEADER
// *********************************************************


.desc {padding: 0 0 $base*2 0}


// *********************************************************
// MAIN
// *********************************************************


.main-app {
   position: relative;
}

.copy {
    position: fixed;
    right: $base; top: $base;
}

.hide {
   display: none;
}

#entries {
   padding-left: $base; padding-right: $base;
}
.entry-list {
   cursor: text; color: $silver;
   background-color: rgba(black, 0.3);
   border-radius: 8px; 
   font-size: $base*0.9;
   line-height: $base*1.4;
   padding-left: $base*2;
   padding-right: $base*2;
}
.zen .entry-list{
   color: transparent;
   text-shadow: 0 0 5px rgba(white,0.8);
}


.ctr {
   text-align: center;
   position: relative;
   z-index: 11000;
}

.zen .ctr{
   @include centerfix;
   width: 40%;
   bottom: 220px;
}


.wordcount h6 {
   display: inline; padding: $base/2 $base*2; color: $silver;
   @extend %shadow-inset;
   text-align: center;
   font-size: $size-h6;
   @extend %sans-serif;
   background: rgba(black, 0.2);
   border-radius: 12px;
}

.input-row {
   padding-left: $base; padding-right: $base;
}
#input-area {
   @include span-all(6, 12, 12, 12);
   position: relative;
   z-index: 11000;

   padding: $base $base; 
   @include ease-out(0.15s);
   font-size: $size-form; @extend %box-shade-light;

   background-color: rgba(black, 0.3);
   border: $color1-5 1px solid; outline: 0;
   @include border-radius(4px, 4px);
   color: white;
   
   &:focus {
      padding: $base*1.8 $base; 
      border: 1px solid $color2-2;
      color: white;
      background-color: rgba(black, 0.3);
      @include ease-out(0.25s);
   }
}


.zen #input-area {

   @include centerfix;
   width: 80%;
   bottom: 100px;
   color: $slate;

   @include ease-out(0.25s);
   @include placeholder {
      color: $slate;
   }
}


.zen #input-area:focus {
   border: 1px solid black;
}




// *********************************************************
// FOOTER
// *********************************************************


// #footer section {
//    @extend %jeans;
// }

