---
layout: none

---

<!doctype html>
<html lang="en" class="no-js">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>  
  <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1" />
  
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="stylesheet" href="../assets/stylesheets/compiled/main.css">
  <!-- load fonts here -->
  
</head>

<body>

  <section id="menu-top">
    <div class="menu-content">
      <!-- individual links to wireframes go in here -->
      <div class="menu-item menu-item-top" id="menu-name">{{ page.name }}</div>

        <a href="#menu-bottom-link" class="menu-item menu-item-top menu-button" id="menu-button-top"><div id="menu-triangle"></div></a>
    </div>
  </section>

  <div class="clear"></div>

  <section id="content">
    {{ content }}
  </section>

  <section id="menu-bottom">
    <a id="menu-bottom-link"></a>
    <div class="menu-content">

      <section id="comments">
        {% if page.comments == true %} 
          {% include _disqus.html %}
        {% endif %} 
      </section>

      <div id="menu-bottom-left">
        <div class="menu-item menu-item-bottom" id="menu-client-name">{{site.client}}</div>
        <div class="menu-item menu-item-bottom" id="menu-project-name">{{site.project}}</div>
        <div class="menu-item menu-item-bottom" id="menu-legal">{{site.legal}}</div>
      </div>
      <div id="menu-bottom-right">
        <div class="menu-item menu-item-bottom" id="menu-pagelist">
          {% include _pagelist.html %}
        </div>
      </div>
    </div>
  </section>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//ajax.aspnetcdn.com/ajax/modernizr/modernizr-2.0.6-development-only.js"></script>

  <!-- <script src="/assets/js/plugins.js"></script> -->
  <script src="/assets/js/jquery.flexslider-min.js"></script>
  <script src="/assets/js/slimbox2.js"></script>
  <script src="/assets/js/script.js"></script>

</body>
</html>
